body {
    background-color: rgb(232, 255, 245);
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*front page rules*/
h1, h2 {
    font-style: italic; 
    color: #F16A6F;
    text-align: center;
}

h2 {
    text-align: left;
    font-style: italic; 
    color: #F16A6F;
}


figcaption {
    text-align: center;
}

.chef-image {
    height:auto;
    width: 500px;
    display: block;
    margin: auto;
    
}

.description-style {
    text-align: center;
    font-weight: bolder;
    color: #69587B;
    background-color: #FEA889;
    padding: 10px;
    margin: 10px 100px;
    border: 3px dotted #69587B;
}

/*recipe page images*/

.lasagna-image {
    height: 500px;
    width: 600px;
    display:block;
    margin: auto;
}

